<div>
  <h1 id="head"> Planting Season </h1>
</div>

<div id="email-form-container">
  <h2> Join our mailing list. <h2>
    <form method='POST' id="email-form">
      <input type='text' name='email[email]'/> Email<br/>
      <button class ="button" type='submit'/ class="btn btn-primary" type="button">Sign up!</button>
    </form>
  <h4> When our site is live, we will let you know </h4>
</div>