<div>
  <h1 id="head"> Planting Season </h1>
</div>

<div id="email-form-container">
  <h2> Join our mailing list. <h2>
    <%= form_for Email.new do |f| %>
      <%= f.text_field :email %>
      <%= f.submit "Sign Up!", class: 'button' %>
    <% end %>
  <h4> When our site is live, we will let you know </h4>
</div>