<div>
  <h1 id="head"> Planting Season </h1>
</div>

<div id="copy">
  <p>Planting Season is an interactive application to help novices to masters plan out their gardens.  Whether it is an herb garden for your own personal use, a perennial flower bed for you and the neighbors to enjoy, or an organic vegetable garden to help lessen those grocery bills, Planting Season is here to help!
</p><p>
  By providing an all in one service, Planting Season not only allows you to plan out your garden depending on your location, but also offers important resources from pests to local gardening stores.
  </p><p>

  Use our interactive garden to sketch out a garden online! We will provide useful information such as companion plantings, how to reestablish your soil after a crop is harvested, when to harvest, frost alerts and so much more!
  </p><p>

  Planting season is coming shortly(both figuratively and literally), and we appreciate your patience as we create this amazing interface just for you!  Join the email lists to get updates on the progress of the site.
  </p><p>

  And remember fellow gardeners, if you can imagine it, you can grow it! And Planting Season is here to help!</p>
</div>

<div id="login-form-container">
  <button class="button" id="login-button">Log In or Sign Up!</button>
</div>