html {
  background: image-url("soilgood.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.button {
  background-color: green;
  border-radius: 15px;
}

#email-form-container {
  font-family: palatino;
  border-radius: 15px;
  width: 600px;
  height: 200px;
  margin-top: 1%;
  margin-left: 35%;
  padding: 15px;
  background-color: rgba(128, 128, 128, 0.6);
  vertical-align: middle;
  text-align: center;
  color: white;
}

#email-form {
  padding-top: 5%;
  opacity:1.0 !important;
}

.image-container {
   text-align: center;
}

#head {
  font-family: palatino;
  color: white;
  margin-left: 35%;
  text-align: middle;
  font-size: 5em;
  padding-left: 15px;
}

#flash {
  background-color: red;
}

#copy {
  font-family: palatino;
  border-radius: 15px;
  width: 600px;
  height: 400px;
  margin-left: 35%;
  padding: 15px;
  color: white;
  line-height: 1.3em;
  background-color: rgba(128, 128, 128, 0.6);
  vertical-align: middle;
  text-align: left;
}
